<div class="container pt-5">
  
  <div class="row justify-content-center">

    <div class="col-md-6">

      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">

        <div class="form-group">

          <input type="text" class="form-control" placeholder="Enter email" name="email" #email="ngModel" ngModel required minlength="4">

          <div *ngIf="email.errors">
            <small *ngIf="email.errors.required && email.touched" class="text-danger">Email is required</small>

            <small *ngIf="email.errors.minlength && email.dirty" class="text-muted">
              {{email.errors.minlength.requiredLength - email.errors.minlength.actualLength}} more characters required.
            </small>
          </div>
        </div>

        <div class="form-group">

          <input type="password" class="form-control" placeholder="Enter Password" #password name="password" ngModel required>
        </div>

        <div class="form-group text-center">

          <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Login</button>

          <button type="button" class="btn btn-warning ml-2" routerLink="signup">Sign up</button>

        </div>
      </form>
    </div>
  </div>
</div>